# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Database file
database/recruiter_ai.db

# Virtual environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/

# SQLite databases
database/*.db
database/*.sqlite
database/*.sqlite3

# Temporary files
*tempCodeRunnerFile.py